.book-details{
  width:1000px;
  margin:120px 275px;
  background:#fff;
}

.flogo {
	font-size: 3rem;
	font-weight: bolder;
	color: var(--black);
	text-align:center;
	text-transform: none;
}
.flogo i{
	color: var(--orange);
}

.box {
	
	font-size: 1.5rem;
	color: var(--black);
	border-radius: .5rem;
	padding: 1rem;
}
.book-details form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	box-shadow: var(--box-shadow);
	padding:2%;
}
.book-details input {
	border-radius:5px;
	padding:1rem 0;
	font-size:1.5rem;
	border:1px solid var(--orange);
}

.book-details select{
	border:1px solid var(--orange);
	border-radius:4px;
	padding:1rem 4rem;
	font-size:1.5rem;
}

.book-details label {
	display: block;
	font-size: 1.5rem;
	font-weight:bold;
}
.book-details .description{
  grid-column:1/3;
}

.book-details .description .desc{
	border:1px solid var(--orange);
	border-radius:5px;
}

.req-validator{
	font-size:1.5rem;
	color:red;
	font-style:italic;
}

.book-details .sbt-btn{
  grid-column:1/3;
  margin:0 1%;
  padding:1rem;
  background:var(--orange);
  color:#fff;
  border-radius:5px;
}

.book-details .sbt-btn:hover {
	background:#fff;
	color:#000;
}

.book-details div{
  padding:1rem;
  width:100%;
}
