@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: 2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

.about-book{
    margin:3%;
    margin-top:120px;
    box-shadow:var(--box-shadow);
}

.book-cover{
    float:left;
}

.name{
    font-size:4rem;
}
.author{
    font-size:1.5rem;
}
.book-desc {
    padding-left:23%;
}
.summary{
    padding-top:1.2%;
    font-size:1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.general{
    padding-top:50px;

}

.book-property {
    font-size: 1.6rem;
    color: rgb(85, 85, 85);
}
.property-value{
    color:var(--black);
}


.review-section{
   /*margin-top:30px;*/
   padding:3%;
}

.review{
    box-shadow:var(--box-shadow);
    padding-bottom:4px;
}
.review p{
    font-size:1.5rem;
}
.review h2{
    padding:5px 0 15px 2px;
}
