.head-img {
    filter:brightness(50%);
}

.heading {
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
    color: var(--black);
}

.heading span {
    background: var(--orange);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon( 100% 0%,93% 50%,100% 99%,0% 100%,7% 50%,0% 0% );
}

.book {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    grid-template-rows: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1rem;
    ;
}

.book .box {
    margin: 0 1rem;
    padding: 3rem 2rem;
    background: #fff;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
}

    .book .box h3 {
        color: var(--black);
        line-height: 1.8;
        font-size: 1.5rem;
    }
