.book-cover-page{
    margin:120px 0;
    text-align:center;
}

.flogo {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--black);
    margin: 0 35%;
    text-transform: none;
}

.flogo i {
    color: var(--orange);
}

.book-cover-page .book-img{
    width:200px;
}

.file-upload{
    display:none;
}

.chose-btn{
  font-size:1.6rem;
  border:1px solid black;
  border-radius:10px;
  padding:0 2px;
  margin:20px 40px;
}
.chose-btn:hover{
  background:var(--orange);
  color:#fff;
  border:1px solid orange;
  cursor:pointer;
}

.save-btn{
  font-size:1.5rem;
  background:var(--orange);
  border:1px solid var(--orange);
  border-radius:4px;
  color:#fff;
  margin:7px 40px;
  padding:0 10px;
  display:none;
}
.save-btn:hover{
    background:#fff;
    border:1px solid black;
    color:#000; 
    cursor:pointer;
}
