.heading {
    margin-top:10rem;
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
    color: var(--black);
}

.heading .ribbon {
    background: var(--orange);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon( 100% 0%,93% 50%,100% 99%,0% 100%,7% 50%,0% 0% );
}

.review-section {
    /*margin-top:30px;*/
    padding: 3%;
}

.review-section .review:hover {
    background:#d9d9d9;
}

.review {
    box-shadow: var(--box-shadow);
    border-radius:7px;
    padding:5px;
    margin-bottom:20px;
}

.review .r-text {
    font-size: 1.5rem;
    text-transform:none;
    display:block;
}


.date{
    font-style:italic;
    font-weight:bold;
}

.r-btns{

    margin-left:80%;
}

.rcntl-btn{
    margin-left:2%;
    padding:0 10px 0 10px;
    font-size:1.6rem;
    border-radius:4px;
    border:1px solid var(--orange);
    color:#fff;
    background:var(--orange);
}

.rcntl-btn:hover {
    color:#000;
    background:#fff;
    border:1px solid var(--orange);
}
