.whole-div{
  width:300px;
  height:430px;
  margin:120px 60% 80px 40%;
  text-align:center;

}
.pic-div {
    padding: 4px;
    width: 100%;
    box-shadow: 2px 2px 20px 2px black;
    border-radius: 10px;
}
.profile-picture{
  margin:8px 32%;
  width:100px;
  height:100px;
  background-size: cover;
  background-position: center;
  border:2px solid black;
  border-radius:20px;
}
.chose-btn{
  font-size:2rem;
  border:1px solid black;
  border-radius:10px;
  padding:0 2px;
}
.chose-btn:hover{
  background:var(--orange);
  color:#fff;
  border:1px solid orange;
  cursor:pointer;
}
.edit-pic{
    margin-bottom:4px;
}
.pic-div .img-warn{
    margin:9px 0;
    background:red;
    color:#ffff;
    font-size:1.5rem;
    padding:2px 0;
    border-radius:5px;
    display:none;
}

.save-btn{
  font-size:1.5rem;
  background:var(--orange);
  border:1px solid var(--orange);
  border-radius:4px;
  color:#fff;
  margin:10px;
  padding:0 10px;
  display:none;
}
.save-btn:hover{
    background:#fff;
    border:1px solid black;
    color:#000; 
    cursor:pointer;
}

.info-div {
    font-size: 1.2rem;
    margin: 20px 0;
    padding: 4px;
    width: 100%;
    text-align: left;
    box-shadow: 2px 2px 20px 2px black;
    border-radius: 10px;
}
.details{
  font-size:1.9rem;
  text-transform:none;
  font-weight:bold;
}
.file-upload{
    display:none;
}


.ed-link{
  font-size:2rem;
  border:1px solid var(--orange);
  background:var(--orange);
  margin:5px 2%;
  padding:2px;
  border-radius:4px;
  color:#fff;
}
.ed-link:hover{
  background:#fff;
  border:1px solid black;
  color:#000;
}


.logout{
  font-size:2rem;
  border:1px solid red;
  background:red;
  margin:5px 2%;
  padding:2px;
  border-radius:4px;
  color:#fff;
}
.logout:hover{
  background:#fff;
  border:1px solid black;
  color:#000;
}